<h2>All Cars</h2>
<p>@Model.currCategory</p>

<div class="row mt-5 mb-2">
@{
    foreach(var car in Model.allCars) {
        <div class="col-lg-4">
            <img class="img-thumbnail" src="@car.img" alt="@car.name"/>
            <h2>@car.name</h2>
            <p>@car.shortDesc</p>
            <p>Price: @car.price.ToString("c")</p>
            <p><a class="btn btn-warning" href="#">More</a></p>
        </div>
    }
}
</div>


